/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Wildcard selector (add asterisk to override default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
header {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: rgb(60, 145, 159);
    box-shadow: 0 2px 2px red;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 28px;
}
header a {
    text-decoration: none;
    font-family: 'lato', sans-serif;
}
h1 {
    font-family: 'lato', sans-serif;
    font: 40px;
    color: #ffffff;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Menu style */
#menu > li {
    list-style-type: none;
    margin-top: 1em;
}

#menu a {
    color: #ffffff;
    margin-top: 1em;
}

/* Nav style */

nav {
    position: absolute;
    display: flex;
    z-index: 99;
    background-color: rgb(60, 145, 159);
    width: 100%;
    display: none;
    top: 100%;
    padding: 0 28px;
    left: 0;
}

#drop-down {
    position: relative;
    display: none;

}

#drop-down:checked~ nav {
    display: block;
}

.drop-down-menu {
    font-size: 160%;
}

.cimina {
    border-bottom: 1px solid red;
}

/* main content */
main {
    background-color: rgb(175, 164, 164);
    flex: 1 0 auto;
    margin-top: 39px;
}

/* footer */
footer {
    background-color: rgb(60, 145, 159);
}

#social i {
    color: #ffffff;
    font-size: 160%;
    padding: 5%;
}

#social {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#social li {
    list-style-type: none;
    padding: 20px 0;
}

/* Media query: laptop and larger (768px and up) */
@media screen and (min-width:768px) {
    nav {
       display: block;
       box-shadow: none;
       position: relative;
       padding-right: 1em;
       width: fit-content;
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 1em;
    } 

    .drop-down-menu {
        display: none;
    }
}

/* Media query: desktops and larger */
@media screen  and (min-width:992px) {
    #menu a:hover {
        border-bottom: 1px solid red;
    }
}